%header
  %h1 Въведение в Ruby

= slide 'Цели', 'За какво ще говорим днес?' do
  %ul
    %li Какво е Ruby програма и как се изпълнява?
    %li Как да се справим с документацията в Ruby
    %li Наколко основни типа в Ruby — числа, низове, булеви стойности, символи
    %li Променливи и константи
    %li Условни конструкции — <code>if</code>
    %li Дефиниране и извикване на прости функции

= slide 'Ruby програми', 'или какво представлява една Ruby програма'
  %ul
    %li Програмите в Ruby са текстови файлове
    %li Няма компилация като в C или Java
    %li Изпълняват се с <code>ruby име_на_файл</code>

= slide 'Ruby програми', 'любимият на всички пример'
  = snippet :hello_world, 'hello.rb' do
    puts "Hello world"
    puts "The answer of life is:", 6 * 7

  %p
    Изпълнява се с
    %code ruby hello.rb

  -#
    Демонстрирай изпълнение на ruby програма в конзола.
      Приготви hello.rb
      Направи cat hello.rb и обясни какво е cat
      Пусни ruby hello.rb

= slide 'irb', 'интерактивна конзола' do
  %p Може да стартирате интерактивната конзола в Ruby с <code>irb</code>

  :irb
    6 * 9
    "Ruby! " * 4
    -10.abs

  -#
    Покажи кратка примерна сесия с irb
    Разкажи какво прави всеки един от примерите:
      Умножение на числа, което е просто
      Ако един низ се умножи по число, той се повтаря толкова пъти
      -10 е обект. Викаме метода abs на този обект

= slide 'Документация', 'или как да разберем какво прави нещо в Ruby?' do
  %ul
    %li 
      <code>ri</code> е инструмент, с който може да разглеждате документацията на клас или метод
    %li 
      %kbd ri String
      показва документацията на класа <code>String</code>
    %li
      %kbd ri Numeric#abs
      показва документацията на метода <code>abs</code> на класа на числата
    %li
      %kbd ri -i
      пуска документацията в интерактивен режим. Пробвайте го.
    %li
      Документацията е достъпна онлайн на 
      %a(href="http://ruby-doc.org/core/") http://ruby-doc.org/core/

  -#
    Наблегни колко е важно да гледат документацията, за да научат Ruby
    Отворете String и вижте какви методи дефинира. Пробвайте някои от тях
